<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo application</title>
</head>
<style>
    body{
        background-color: black;

    }
    h1{
        color: white;
        margin-top: 300px;
        margin-left: 300px;
        font-size: 3em;
    }
</style>
<body>
    <h1>Demo application deployed using the platform</h1>
</body>
</html>