<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo application</title>
</head>
<style>
    body{
        background-color: #000000aa;
        background: url("https://images.unsplash.com/photo-1541280910158-c4e14f9c94a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
        background-size: cover;

    }
    h1{
        color: white;
        margin-top: 300px;
        margin-left: 300px;
        font-size: 3em;
    }
</style>
<body>
    <h1>Demo application deployed using the platform v2</h1>
</body>
</html>